/*  your css code here. If applicable */
main{
	background-color: #f0f0f0;
	width: 350px;
	padding: 35px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 80px;
	height: 580px;
	
}
img{
	width:280px;
	height: 200px;
    padding-left: 36px; 
	
}
h1{
	text-align: center;
	font-size: 50px;
	margin: 0px;
	font-weight: 900;
}
p{
	font-size: 35px;
	text-align: center;
	font-weight:600;
	margin: 0px;
}
button{
	background-color: red;
	color: white;
	height: 70px; 
	padding: 10px;
	font-weight:500;
	font-size: 35px;
	margin-left: 90px;
	margin-top: 20px;
	border-radius: 15px;
}